.card {
  font-family: 'Bebas Neue', cursive;
  background-color: white;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  max-width: 700px;
  max-width: 50rem;
}

.card img {
  width: 100%;
  object-fit: cover;
}
.card div {
  margin: 1rem;
}
.foodName {
  font-weight: 700;
  color: rgb(136, 19, 55);
  font-size: 2rem;
}
.recipe {
  display: block;
  color: rgb(107, 114, 128);
}
